n8n/workflows/Voice_trigger.json
{
  "name": "Voice trigger",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -540,
        80
      ],
      "id": "b5153ecb-5d3d-4634-8df7-10fda3a40dba",
      "name": "Telegram Trigger",
      "webhookId": "c814611e-e5af-4f82-9fd3-ca482618255a",
      "credentials": {
        "telegramApi": {
          "id": "9F7c3Lfb2eisGwvq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5571b6e9-3871-4830-97f3-3cbbecae187b",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.hasOwnProperty('voice') }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "81d7a2f6-f519-4fa1-bc58-838371a1bdf6",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.hasOwnProperty('text') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -300,
        80
      ],
      "id": "a5bcc668-eadc-498e-87d6-c1ed21498adb",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/api/transcribe",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $json.message.voice.file_id }}"
            },
            {
              "name": "token",
              "value": "=7955220166:AAG1LduLJE8_qiMtAKJKQbsUNAop_jtPqDk"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "5690fb44-ce28-4e0d-b466-3ce81180f117",
      "name": "Transcribe Request"
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/api/chat",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        180
      ],
      "id": "dfdb4a93-c642-43d1-bdaf-d6d4f384bb8a",
      "name": "Chat Request"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown",
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        100
      ],
      "id": "26ccca3e-3425-4d56-b573-ca9385376869",
      "name": "Telegram",
      "credentials": {
        "telegramApi": {
          "id": "9F7c3Lfb2eisGwvq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        320,
        100
      ],
      "id": "01cae64e-58ee-4ecb-b490-448083a08568",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        280,
        320
      ],
      "id": "40fbd4b6-26e7-4dc3-812e-0852adc72078",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "CdPNp0vVofmdiB1w",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Transcribe Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92009c8a-a819-455a-915e-3da04b0b088b",
  "meta": {
    "instanceId": "bbc33155c36ad35048e09b477523491bb4ccb05e1a5c4033e2ff2cd3815d5164"
  },
  "id": "XAvEuvM7Ind9llbc",
  "tags": [
    {
      "createdAt": "2024-12-20T09:16:46.849Z",
      "updatedAt": "2024-12-20T09:16:46.849Z",
      "id": "H9ezyPkB9tciF8uf",
      "name": "Telegram Bot api"
    },
    {
      "createdAt": "2024-12-20T09:16:46.856Z",
      "updatedAt": "2024-12-20T09:16:46.856Z",
      "id": "n9awPD7DuYRXLQlA",
      "name": "Groq"
    }
  ]
}